<div class="scene">
  <!-- page home -->
  <div class="page page-1 active">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-home></app-home>
    </div>
  </div>
  <!-- page home -->
  <!-- page start -->
  <div class="page page-2">
    <div class="page--rotater"></div>
    <div class="page--content">
      
    </div>
  </div>
  <!-- page end -->
  <!-- page start -->
  <div class="page page-3">
    <div class="page--rotater"></div>
    <div class="page--content">
      
    </div>
  </div>
  <!-- page end -->
  <!-- page start -->
  <div class="page page-4">
    <div class="page--rotater"></div>
    <div class="page--content">
      
    </div>
  </div>
  <!-- page end -->
  <!-- page start -->
  <div class="page page-5">
    <div class="page--rotater"></div>
    <div class="page--content">
     
    </div>
  </div>
  <!-- page end -->
  <!-- navigator start -->
  <app-navigator></app-navigator>
  <!-- navigator end -->
</div>