<div class="scene">
  <!-- home start -->
  <div class="page page-1 active">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-home></app-home>
    </div>
  </div>
  <!-- home end -->
  <!-- history start -->
  <div class="page page-2">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-history></app-history>
    </div>
  </div>
  <!-- history end -->
  <!-- event start -->
  <div class="page page-3">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-event></app-event>
    </div>
  </div>
  <!-- event end -->
  <!-- gallery start -->
  <div class="page page-4">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-gallery></app-gallery>
    </div>
  </div>
  <!-- gallery end -->
  <!-- contact start -->
  <div class="page page-5">
    <div class="page--rotater"></div>
    <div class="page--content">
      <app-contact></app-contact>
    </div>
  </div>
  <!-- contact end -->
  <!-- navigator start -->
  <app-navigator></app-navigator>
  <!-- navigator end -->
</div>