<div class="footer">
  <div class="nav">
    <ul>
      <li class="nav--btn nav--btn-1 active" data-page="home"><span>Home</span></li>
      <li class="nav--btn nav--btn-2" data-page="history"><span>History</span></li>
      <li class="nav--btn nav--btn-3" data-page="event"><span>Event</span></li>
      <li class="nav--btn nav--btn-4" data-page="gallery"><span>Gallery</span></li>
      <li class="nav--btn nav--btn-5" data-page="contact-info"><span>Contact Info</span></li>
    </ul>
  </div>
</div>